# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# IDEs
# =========================
.idea/
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Testing / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# MyPy / Type checking
# =========================
.mypy_cache/

# =========================
# Environment variables
# =========================
.env

# model artifacts
hate_speech_xai/models/
checkpoints/

# preprocessed data
hate_speech_xai/data/
