datasets==3.6.0 # using older version to avoid an error that dataset scripts are not longer supported
# (hateXplain dataset hasnt been updated after a change in datasets library)
numpy
pandas
scikit-learn
matplotlib
seaborn
streamlit
setuptools
transformers
jupyter
torch
accelerate>=1.1.0
captum
shap
pytest